# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Agent file for use in Branch Group-1
./agents

# file uplaod
.uploads

# environment variables
.env
.text.txt
text.txt
*.txt

# macOS system files
.DS_Store

# IDE settings
.vscode/

# Noir / Nargo Build & Runtime Files
circuit/target/
circuit/Prover.toml

# file for export result data
THESIS_SYSTEM_SUMMARY.md
